@import '../_variables';
.header {
    background: #646464;
    display: flex;
    justify-content: space-between;
    height: 5.5em;
    padding:1.1em 1.6em;
    box-sizing: border-box;
    margin-bottom: 3.3em;
    h1 {
        margin: 0;
    }
    .link--telephone {
        color: white;
        text-decoration: none;
        background: url(../../../assets/images/icon-phonecall.svg) no-repeat 0 0;
        background-size: 1.65em;
        display: flex;
        align-items: center;
        padding: 0 0 0 2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2em;        
    }
}