@import '../_variables';
.header {
    background: #646464;
    height: 5.5em;
    padding:1.1em 1.6em;
    box-sizing: border-box;
    margin-bottom: 3.3em;
    .grid {
        display: flex;
        justify-content: space-between;
    }
    @include media(">bp1Width") {
        margin-bottom: 4.8em;
    };
    h1 {
        margin: 0;
        display: flex;
        align-items: center;
        .logo-company {
            margin-right: 1.5em;
            display: none;
            @include media(">bp1Width") {
                display: initial;
            };
        }
    }
    .link--telephone {
        color: white;
        text-decoration: none;
        background: url(../../../assets/images/icon-phonecall.svg) no-repeat 0 0;
        background-size: 1.65em;
        display: flex;
        align-items: center;
        padding: 0 0 0 2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2em;        
    }
}