@import '../_variables';
.section--products-copy {
    padding: 5.5em 3.2em 0em;
    margin-bottom: 6.8em;
    > ul > li {
        box-shadow: none;
        border: none;
        padding: 0;
        margin-bottom: 5.3em;
        h3 {
            margin-bottom: 1.5em;
        }
    }
    
}