@import '../_variables';

.section--banner {
    background: white no-repeat 50% 50%;
    padding: 4em 1.3em 5em;
    background-size: cover;
    @include media(">bp1Width") {
        padding: 12em 1.3em 12em;
    };
    @include media(">bp1Width") {
        .grid {
            display: flex;
            justify-content: space-evenly;
        }
    };
    @include media(">maxWidth") {
        padding: 12em 0em 12em;
    };
    h3 {
        font-size: 2.5em;
        color: #fff;
        line-height: 1.1;
        font-weight: normal;
        font-style: italic;
        margin: 0 0 1em 0;
        text-align: center;
        @include media(">minWidth") {
            max-width: 12em;
            margin: 0 auto 1em;
        };
        @include media(">bp1Width") {
            font-size: 3.6em;
            text-align: left;
        };
    }
    .button--red-inverted {
        width: 13em;
        margin: 0 auto;
        @include media(">bp1Width") {
            margin: 0;
        };
    }
    .section--banner-image {
        a {
            @include media(">bp1Width") {
                display: flex;
                align-items: center;
                height: 100%;
            };
            img {
                display: block;
                margin: 3em auto 0;
                max-width: 30em;
                @include media(">bp1Width") {
                    display: initial;
                    margin: 0em auto 0;
                    max-width: 40em;
                };
            }
        }
        
    }
}
