@import '../_variables';
.section--products-copy {
    padding: 5.5em 3.2em 0em;
    margin-bottom: 6.8em;
    @include media(">bp1Width") {
        padding: 5.5em 0em 0em;
        margin-bottom: 0em;
    };
    .grid {
        > ul {
            @include media(">bp1Width") {
                margin-bottom: 9em;
            };
            > li {
                box-shadow: none;
                border: none;
                padding: 0;
                margin: 0 auto 5.3em;
                @include media(">bp1Width") {
                    margin: 0 3.5em;
                    width: 26em;
                };
                
                h3 {
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}