@import '../_variables';

.section--banner {
    background: url(../../../assets/images/banner-mobi.jpg) no-repeat 50% 50%;
    padding: 4.0em 1.3em 5em;
    @include media("<minWidth") {
        background-size: cover;
    };
    h3 {
        font-size: 2.5em;
        color: #fff;
        line-height: 1.1;
        font-weight: normal;
        font-style: italic;
        margin: 0 0 1em 0;
        text-align: center;
        @include media("<minWidth") {
            max-width: 12em;
            margin: 0 auto 1em;
        };
    }
    .button--red-inverted {
        width: 13em;
        margin: 0 auto;
    }
    .section--banner-image {        
        img {
            margin: 3em auto 0;
            display: block;
        }
    }
}
